<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Principal-Html</title>
    <link href="estilo.css" rel="stylesheet" />
  </head>

  <div class="header">
    <header>
      <img src="img/Logo.jpeg" alt="Logo" class="logo" />
    </header>
  </div>
  <nav>
    <img src="img/logoNav.jpg" class="logo_navbar" alt="LogoNav " />
    <ul class="nav_ul">
      <li>
        <a
          href="https://moodle-telco.unne.edu.ar/login/index.php"
          target="_blank"
          >Inicio</a
        >
      </li>
      <li>
        <a href="https://talentosdigitales.ar/" target="_blank">Nosotros</a>
      </li>
      <li>
        <a href="https://talentosdigitales.ar/inscripciones" target="_blank"
          >Cursos</a
        >
      </li>
      <li><a href="" target="_blank">Registro</a></li>
      <li><a href="" target="_blank">Login</a></li>

      <form class="search-form">
        <input
          type="text"
          name="query"
          placeholder="Buscar..."
          class="search-input"
        />
        <button type="button" class="search-button">Buscar</button>
      </form>
    </ul>
  </nav>
  <div class="parrafo_body">
    <p>
      Somos una empresa que se dedica a la venta de relojes de mesa y pared con
      diseños únicos e innovadores. Utilizamos materia prima de calidad.
      Elaboramos productos a la medida del cliente.
    </p>
  </div>
  <div class="div1">
    <img src="img/hackathon.webp" alt="hackathon" class="img2" />
  </div>

  <footer class="footer">
    <div class="footer-icons">
      <a href="https://www.facebook.com" target="_blank">
        <img src="img/facebook.png" alt="Facebook" class="footer-icon" />
      </a>
      <a href="https://www.twitter.com" target="_blank">
        <img src="img/twitter.png" alt="Twitter" class="footer-icon" />
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <img src="img/instagram.png" alt="Instagram" class="footer-icon" />
      </a>
      <a href="https://www.linkedin.com" target="_blank">
        <img src="img/linkedin.png" alt="LinkedIn" class="footer-icon" />
      </a>
    </div>
    <div class="footer-Derechos">
      <p>2024 Nahuel Tomei. Todos los derechos reservados.</p>
    </div>
  </footer>
</html>
